

.chat_ingredients_response{
    border: 2px solid black;
    border-radius: 7px;
    align-items: center;
    width: 90%;

}
.chat_ingredients_response_heading{
    margin-left: 20%;
}



.chat_ingredients_response_table{
    width: 70%;
    margin-left: 10%;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 20px;
    
  }

  table{
    width: 75%;
  }

  tr:first-child{
    font-weight: bold;
  }
  